h1{color: red;
font-family:'Times New Roman', Times, serif;
text-align: center;}
ol{color: green;}
h3{color:chocolate;
font-family: Georgia, 'Times New Roman', Times, serif;
text-align:center;
text-transform: capitalize;
line-height:unset;}